/*section header*/

.navbar {
    background-color: rgba(191, 11, 10, 1);
}
















.paint {
    width: 52px;
    height: 62px;
    margin: 1em;


}


.check {
    display: flex;
    margin: 0.3em;
}

.displayPaint {
    display: flex;
    margin: 1em;

}

.picture {
    height: 300px;
    width: auto;
}

li {
    list-style: none;
}

.delbut {
    border: solid black 1px;
    border-radius: 0.2em;
    background-color: lightgray;
    margin: 0.1em;


}

.fig-list {
    display: flex;
    flex-direction: column;
    width: 150px;


}

.principal-picture {
    width: 150px;
}
